<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add new question</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form method="POST">
            <div class='question'>
                <label for="question">Question</label>
                <input type="text" name="question" required>
            </div>
            <div class='answer'>
                <label for="answer">answer</label>
                <input type="text" name="answer" required>
            </div>
            <input type="submit" value="Create question">
        </form>
    </body>
</html>