<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Animal Trivia App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1> Animal Trivia </h1>
        <a href="{{ url_for('add_question')}}">Add a question</a>
        <ul>
            {% for question in questions %}
            <li> 
                <a href='{{ url_for("questions_view", index=loop.index0) }}'>{{ question.question }}</a>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>